In [1]:
import pandas as pd

# Data OWID $CO_2$ 
<hr/>

In [3]:
# owid-co2-data

df1 = pd.read_csv('../data/owid-co2-data.csv')
print(df1.shape)
df1.head()

(23708, 55)

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [5]:
df1['iso_code'].unique()

array(['AFG', nan, 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'ARM',
       'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BES', 'BIH', 'BWA',
       'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN',
       'CPV', 'CAF', 'TCD', 'CHL', 'CHN', 'CXR', 'COL', 'COM', 'COG',
       'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'COD', 'DNK',
       'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST',
       'SWZ', 'ETH', 'FRO', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB',
       'GEO', 'DEU', 'GHA', 'GRC', 'GRL', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN',
       'KIR', 'OWID_KOS', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR',
       'LBY', 'LIE', 'LTU', 'LUX', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'MDA', 'MNG', 'MNE', 'MSR',
       'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL',
       'NIC', 'NER', 'NGA', 'NIU', 'PRK', 'MKD', 'NOR', 'OMN', 'PAK',
       'PLW', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT',
       'PRI', 'QAT', 'ROU', 'RUS', 'RWA', 'SHN', 'KNA', 'LCA', 'SPM',
       'VCT', 'WSM', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'KOR', 'SSD', 'ESP',
       'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA',
       'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA',
       'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT',
       'VEN', 'VNM', 'WLF', 'OWID_WRL', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [7]:
df1['year'].unique()

array([1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 1884, 1885, 1886, 1887, 1888, 1889,
       1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900,
       1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911,
       1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922,
       1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944,
       1945, 1946, 1947, 1948, 1830, 1831, 1832, 1833, 1834, 1835, 1836,
       1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847,
       1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858,
       1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869,
       1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880,
       1881, 1882, 1883, 1807, 1819, 1820, 1821, 1822, 1823, 1824, 1825,
       1826, 1827, 1828, 1829, 1802, 1785, 1786, 1787, 1788, 1789, 1790,
       1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801,
       1803, 1804, 1805, 1806, 1808, 1809, 1810, 1811, 1812, 1813, 1814,
       1815, 1816, 1817, 1818, 1750, 1751, 1752, 1753, 1754, 1755, 1756,
       1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767,
       1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778,
       1779, 1780, 1781, 1782, 1783, 1784])

# Dry Natural Gas Consumption 1980 - 2009
<hr/>

In [12]:
# owid-co2-data

df2 = pd.read_csv('../data/drynaturalgasconsumption19802009quadrillionbtu.csv')
print(df2.shape)
df2.head()

(232, 32)

,Unnamed: 0,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,North America,22.99389,22.52281,21.24996,20.11535,21.44691,20.94839,19.67609,20.72203,21.77161,...,27.45426,28.42206,28.04075,28.02332,27.75657,27.90121,29.29893,29.45917,28.76674,29.84017
1,Bermuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Canada,1.91491,1.86417,1.90217,1.90034,2.05577,2.20417,2.16031,2.14368,2.37063,...,3.19009,3.24322,3.45726,3.4245,3.49574,3.39607,3.5194,3.50256,3.20843,3.02674
3,Greenland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mexico,0.84352,0.91133,0.99157,0.99417,0.99753,1.04073,0.92441,0.93855,0.95259,...,1.49161,1.62042,1.75285,1.68968,1.69941,2.28124,2.07754,2.16548,2.14732,2.14732

In [14]:
df2['Unnamed: 0'].unique()

array(['North America', 'Bermuda', 'Canada', 'Greenland', 'Mexico',
       'Saint Pierre and Miquelon', 'United States',
       'Central & South America', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Aruba', 'Bahamas, The', 'Barbados', 'Belize',
       'Bolivia', 'Brazil', 'Cayman Islands', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Falkland Islands (Islas Malvinas)',
       'French Guiana', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana',
       'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Montserrat',
       'Netherlands Antilles', 'Nicaragua', 'Panama', 'Paraguay', 'Peru',
       'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent/Grenadines', 'Suriname', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'Uruguay', 'Venezuela',
       'Virgin Islands,  U.S.', 'Virgin Islands, British', 'Europe',
       'Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina',
       'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Faroe Islands', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former Yugoslavia', 'France',
       'Germany', 'Germany, East', 'Germany, West', 'Gibraltar', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Luxembourg',
       'Macedonia', 'Malta', 'Montenegro', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom',
       'Eurasia', 'Armenia', 'Azerbaijan', 'Belarus', 'Estonia',
       'Former U.S.S.R.', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan',
       'Ukraine', 'Uzbekistan', 'Middle East', 'Bahrain', 'Iran', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Palestine',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen',
       'Africa', 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Cote dIvoire (IvoryCoast)', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia, The',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion',
       'Rwanda', 'Saint Helena', 'Sao Tome and Principe', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan',
       'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Western Sahara', 'Zambia', 'Zimbabwe', 'Asia & Oceania',
       'Afghanistan', 'American Samoa', 'Australia', 'Bangladesh',
       'Bhutan', 'Brunei', 'Burma (Myanmar)', 'Cambodia', 'China',
       'Cook Islands', 'Fiji', 'French Polynesia', 'Guam',
       'Hawaiian Trade Zone', 'Hong Kong', 'India', 'Indonesia', 'Japan',
       'Kiribati', 'Korea, North', 'Korea, South', 'Laos', 'Macau',
       'Malaysia', 'Maldives', 'Mongolia', 'Nauru', 'Nepal',
       'New Caledonia', 'New Zealand', 'Niue', 'Pakistan',
       'Papua New Guinea', 'Philippines', 'Samoa', 'Singapore',
       'Solomon Islands', 'Sri Lanka', 'Taiwan', 'Thailand',
       'Timor-Leste (East Timor)', 'Tonga', 'U.S. Pacific Islands',
       'Vanuatu', 'Vietnam', 'Wake Island', 'World'], dtype=object)

In [ ]:
# 
<hr/>

In [15]:
# 
<hr/>

SyntaxError: invalid syntax (<ipython-input-15-bf69a03015c7>, line 2)

In [16]:
df3 = pd.read_csv('../data/Complete_TAVG_complete.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 19, saw 2