# demo_flask
<hr/>

In [3]:
import pandas as pd

In [4]:
data = {'gem_id': [1001, 1002,1003,1004,1005,1006],
        'latitude': [43.771663, 43.779007, 43.747417, 43.747417, 43.771755, 43.779534],
        'longitude': [-73.930204, -73.95124, -73.851914, -73.851914, -73.924258, -73.950862]
       }

df = pd.DataFrame(data = data)

In [5]:
df

   gem_id   latitude  longitude
0    1001  43.771663 -73.930204
1    1002  43.779007 -73.951240
2    1003  43.747417 -73.851914
3    1004  43.747417 -73.851914
4    1005  43.771755 -73.924258
5    1006  43.779534 -73.950862