In [79]:
import pandas as pd
import seaborn as sns
from datetime import timezone

In [80]:
# Contents

# Data Input
<hr/>

In [81]:
columns_names = ['IMEI', 'model','android_vers','bat_tech','bat_cap','timestamp','scren_status', 
                 'bat_prec','app_running','cpu_usage','bat_temp','bat_volt','bat_current','network',
                 'plugged_in']

In [82]:
df1 = pd.read_csv('../mobileBatterywithtime/data/352944080639365.csv', names = columns_names,
                  usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] )
print(df1.shape)
df1.head(3)

(385430, 15)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_current,network,plugged_in
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,False,37,com.zopper.batteryage,0,24.7,3741,130,none,False
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False

In [83]:
df2 = pd.read_csv('../mobileBatterywithtime/data/358057080902248.csv', names = columns_names, 
                  usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] )
print(df2.shape)
df1.head(2)

(229630, 15)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_current,network,plugged_in
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,False,37,com.zopper.batteryage,0,24.7,3741,130,none,False
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False

In [84]:
df3 = pd.read_csv('../mobileBatterywithtime/data/866558034754119.csv',names = columns_names,
                  usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] )
print(df3.shape)
df3.head(2)

(85530, 15)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_current,network,plugged_in
0,866558034754119,OPPO CPH1723,7.1.1,Li-ion,3200.0,1570598925694,False,36,com.zopper.batteryage,25,27.0,3774,139,wi-fi,False
1,866558034754119,OPPO CPH1723,7.1.1,Li-ion,3200.0,1570598948811,False,36,com.zopper.batteryage,25,27.0,3774,159,wi-fi,False

In [85]:
df4 = pd.read_csv('../mobileBatterywithtime/data/866817034014258.csv', names = columns_names,
                   usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] )
print(df4.shape)
df4.head(2)

(344020, 15)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_current,network,plugged_in
0,866817034014258,OnePlus ONEPLUS A5010,9.0,Li-ion,3300.0,1570600057007,True,18,com.zopper.batteryage,0,26.8,3698,840,mobile,False
1,866817034014258,OnePlus ONEPLUS A5010,9.0,Li-ion,3300.0,1570600057179,True,18,com.zopper.batteryage,0,26.8,3698,840,mobile,False

In [86]:
df5 = pd.read_csv('../mobileBatterywithtime/data/867194030192184.csv', names = columns_names,
                  usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] )
print(df5.shape)
df5.head(2)

(286010, 15)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_current,network,plugged_in
0,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599949472,False,31,com.zopper.batteryage,0,31.0,4043,1297,wi-fi,True
1,867194030192184,Xiaomi Redmi Note 5 Pro,8.1.0,Li-poly,4000.0,1570599954486,False,31,com.zopper.batteryage,0,31.0,4045,1336,wi-fi,True

In [87]:
df6 = pd.read_excel('../mobileBatterywithtime/data/Activation_Date_Phone.xlsx')
print(df6.shape)
df6

(4, 2)

      IMEI Number  Activation Date (YYYY-MM-DD)
0  352944080639365                   2017-10-18
1  358057080902248                   2017-07-10
2  866558034754119                   2017-10-25
3  867194030192184                   2018-03-10

In [88]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   IMEI Number                   4 non-null      int64
 1   Activation Date (YYYY-MM-DD)  4 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 192.0 bytes

In [89]:
df6.rename(columns={'IMEI Number ':'IMEI','Activation Date (YYYY-MM-DD)': 'act_date'}, inplace = True)
df6.head(1)

              IMEI   act_date
0  352944080639365 2017-10-18

In [90]:
pd.to_datetime(df6['act_date'], unit='s')

0   2017-10-18
1   2017-07-10
2   2017-10-25
3   2018-03-10
Name: act_date, dtype: datetime64[ns]

In [100]:
# convert timestamp to Unix Timestamp Conversion

for c in range(0, len(df6['act_date'])):
    df6.iloc[c,1] = df6.iloc[c,1].timestamp() #.replace(tzinfo=timezone.utc)

0
1
2
3

In [102]:
df6.head()

              IMEI     act_date
0  352944080639365  1.50828e+09
1  358057080902248  1.49964e+09
2  866558034754119  1.50889e+09
3  867194030192184  1.52064e+09

In [82]:
# NOTES - df6 to be used to create feature on df timestamp

"""

Convert activation date to timestamp  
Calculate difference between 

"""

'\nconvert activation date to timestamp  \nCalculate difference between \n'

# Concat 
<hr/>

In [52]:
df = pd.concat([df1,df2,df3,df4,df5], axis = 0)

In [53]:
df.head()

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_amp,network,plugged_in
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,False,37,com.zopper.batteryage,0,24.7,3741,130,none,False
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
2,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942526,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
3,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599946877,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False
4,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599947492,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1330620 entries, 0 to 286009
Data columns (total 15 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   IMEI          1330620 non-null  int64
 1   model         1309886 non-null  object
 2   android_vers  1309886 non-null  object
 3   bat_tech      1330620 non-null  object
 4   bat_cap       1330620 non-null  float64
 5   timestamp     1330620 non-null  int64
 6   scren_status  1330620 non-null  bool
 7   bat_prec      1330620 non-null  int64
 8   app_running   1330620 non-null  object
 9   cpu_usage     1330620 non-null  int64
 10  bat_temp      1330620 non-null  float64
 11  bat_volt      1330620 non-null  int64
 12  bat_amp       1330620 non-null  int64
 13  network       1330620 non-null  object
 14  plugged_in    1330620 non-null  bool
dtypes: bool(2), float64(2), int64(6), object(5)
memory usage: 144.7+ MB

# EDA
<hr/>

In [66]:
# Look at - Unique Values for each column

for df_columns in df:
    print()
    print()
    print(df_columns)
    print('--------------')
    print( df[df_columns].nunique() )
    print( df[df_columns].unique()  )
"""

"""

IMEI
--------------
5
[352944080639365 358057080902248 866558034754119 866817034014258
 867194030192184]


model
--------------
5
['samsung SM-A910F' 'samsung SM-G950F' nan 'OPPO CPH1723'
 'OnePlus ONEPLUS A5010' 'Xiaomi Redmi Note 5 Pro']


android_vers
--------------
5
['8.0.0' 7.0 nan '7.1.1' 9.0 '8.1.0']


bat_tech
--------------
2
['Li-ion' 'Li-poly']


bat_cap
--------------
5
[5000. 3000. 3200. 3300. 4000.]


timestamp
--------------
1250266
[1570599938843 1570599942514 1570599942526 ... 1571423491044 1571423492669
 1571423497987]


scren_status
--------------
2
[False  True]


bat_prec
--------------
99
[ 37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20
  19  18  17  16  15  38  39  40  41  42  43  44  45  46  47  48  49  50
  51  52  54  55  56  57  58  60  61  62  63  64  65  66  67  68  69  70
  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88
  89  90  91  92  93  94  95  96  97  98  99 100  14  13  12  11  10   9
   8   7   6   5   4   3   2   1   0]


app_running
--------------
1
['com.zopper.batteryage']


cpu_usage
--------------
103
[  0  12  27  11  31  20  25  39  18  16  41  37  33  29  22  34  15  30
  50 100  35   8  43  58  61  46  45  36  64  81  87  56  63  47  79  53
  66  40  32  62  54  19  21  28  17  13   9  23  10  14  26  38  42  52
  60  75  89  68  59   6  70  55  93  77  72  51  83  49  57  48  80  69
  44  24  65   7  86  82  67  85  91  88  95  90  92  96  71  78  76   4
  84  74  73   1   5  97  94   2   3  98 121 103 106]


bat_temp
--------------
184
[24.7 24.8 24.9 25.  24.6 25.4 25.9 26.1 26.2 26.3 26.  25.8 25.7 25.6
 25.5 25.3 25.2 25.1 24.5 24.4 26.4 26.5 26.6 26.7 26.8 26.9 27.  27.1
 27.2 27.3 27.4 27.5 27.6 27.7 27.8 27.9 28.  28.1 28.2 28.3 28.4 28.5
 28.6 28.7 28.8 28.9 29.  29.1 29.2 29.3 29.4 29.5 29.6 29.7 29.8 29.9
 30.  30.1 30.2 30.3 30.4 30.5 30.6 30.7 30.8 30.9 31.  31.1 31.2 31.3
 31.4 31.5 31.6 31.7 31.8 31.9 32.  32.1 32.2 32.3 32.4 24.3 24.2 24.1
 24.  23.9 23.8 23.7 23.6 23.5 23.4 23.3 23.2 23.1 23.  22.9 22.8 22.7
 22.6 22.5 22.4 22.3 22.2 22.1 22.  21.9 21.8 21.7 32.5 32.6 32.7 32.8
 32.9 33.  33.1 33.2 33.3 33.4 33.5 33.6 33.7 33.8 33.9 34.  34.1 34.2
 34.3 34.4 34.5 34.6 34.7 34.8 34.9 35.  35.1 35.2 35.3 35.4 35.5 35.6
 35.7 35.8 35.9 36.  36.1 36.2 36.3 36.4 36.5 36.6 36.7 37.  38.  39.
 40.  41.  42.  43.  44.  45.  37.3 37.6 38.9 39.1 39.9 38.5 38.3 38.2
 38.1 37.9 37.7 39.4 39.8 39.6 37.5 38.7 39.3 39.2 36.8 37.2 37.4 36.9
 37.1 37.8]


bat_volt
--------------
1076
[3741 3763 3737 ... 4385 4372 4377]


bat_amp
--------------
1945
[ 130    1  356 ... 1781 1788 1866]


network
--------------
3
['none' 'wi-fi' 'mobile']


plugged_in
--------------
2
[False  True]

In [ ]:
df.plot(kind = 'bar');

In [ ]:
battery tech

battery capacity 

timestamp - 

scren_status - 

bat_prec - % 

cpu_usage - cpu 

bat_temp - temputure 

bat_volt - volt 

bat_amp - curret 

network - 3x 

plugged_in - bool

In [70]:
df.head(2)

,IMEI,model,android_vers,bat_tech,bat_cap,timestamp,scren_status,bat_prec,app_running,cpu_usage,bat_temp,bat_volt,bat_amp,network,plugged_in
0,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599938843,False,37,com.zopper.batteryage,0,24.7,3741,130,none,False
1,352944080639365,samsung SM-A910F,8.0.0,Li-ion,5000.0,1570599942514,False,37,com.zopper.batteryage,0,24.7,3763,130,none,False

In [ ]:
sns

In [ ]:
# drop app_running

In [ ]:
# timestamp

In [ ]:
# do boolian values to 1 & 0
# screen_status
# plugged_in

In [71]:
# Map IMEI

df['timestamp'] = map({352944080639365:1, 358057080902248:2, 866558034754119:3, 866817034014258:4,
                 867194030192184:5 })

TypeError: map() must have at least two arguments.

In [ ]:
# Map model  

{'samsung SM-A910F':1, 'samsung SM-G950F':2, nan:0, 'OPPO CPH1723':3,
 'OnePlus ONEPLUS A5010':4 'Xiaomi Redmi Note 5 Pro':5}

In [ ]:
# map battery tech

{'Li-ion':1 , 'Li-poly':2}

In [ ]:
# Map network

{'none':0, 'wi-fi':1, 'mobile':2}