In [ ]:
# KCF

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Read In Data
<hr/>

     google dashboard Download
     
     'Full Report' ---- behavior, site content, all pages

In [12]:
## excel doc sheet 0
# data meta

pd.read_excel('../data/Analytics All Web Site Data Pages 20200101-20210223.xlsx',sheet_name=0)

   All Web Site Data
0              Pages
1  20200101-20210223
2     Links to data:
3           Dataset1
4           Dataset2

In [24]:
## excel doc sheet 1
# number of pageviews per page for total time frame

pageviews_per_page_df = pd.read_excel(
    '../data/Analytics All Web Site Data Pages 20200101-20210223.xlsx',sheet_name=1)
print(pageviews_per_page_df.shape)
print()
pageviews_per_page_df.head()

(11, 8)

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,1171,1049,331.569444,1019,0.842002,0.815542,0
1,/walkforeducation,113,107,322.941176,64,0.968750,0.849558,0
2,/yoga-pops-fundraiser,58,50,221.545455,44,0.818182,0.810345,0
3,/2021-blankets-for-india,38,27,171.916667,26,0.692308,0.684211,0
4,/donate,37,37,98.750000,33,0.878788,0.891892,0

In [21]:
## excel doc sheet 2
# number of pageviews per day (all pages)

pageviews_perDay_df = pd.read_excel('../data/Analytics All Web Site Data Pages 20200101-20210223.xlsx',sheet_name=2)
print(pageviews_perDay_df.shape)
print()
pageviews_perDay_df.head()

(421, 2)

   Day Index  Pageviews
0 2020-01-01          0
1 2020-01-02          0
2 2020-01-03          0
3 2020-01-04          0
4 2020-01-05          0

# EDA
<hr>

In [26]:
pageviews_per_page_df

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,1171,1049,331.569444,1019,0.842002,0.815542,0
1,/walkforeducation,113,107,322.941176,64,0.968750,0.849558,0
2,/yoga-pops-fundraiser,58,50,221.545455,44,0.818182,0.810345,0
3,/2021-blankets-for-india,38,27,171.916667,26,0.692308,0.684211,0
4,/donate,37,37,98.750000,33,0.878788,0.891892,0
5,/about,29,29,122.500000,25,0.920000,0.931034,0
6,/angelpatron,21,20,123.500000,19,0.894737,0.904762,0
7,/volunteerwithus,16,15,117.500000,13,0.846154,0.875000,0
8,/sponsorships,15,15,158.000000,10,0.900000,0.933333,0
9,/?requestedBy=screenshoter&suppressbi=true,14,14,0.000000,14,1.000000,1.000000,0
10,NaN,1968,1791,295.112805,1640,0.861585,0.833333,0

In [104]:

def cleanup(df, column):
    print('hi')
    
    # create column of pages
    pages = df.iloc[:,column]
    
    # loop in column
    for page in pages:
        
        # check for int, float (nan's type == float)
        if type(page) == type('str'):
            
            # create blank list
            page = []
            
            # nested loop 
            for m in x:
                
                # Meat & Potatos
                if m == '/':            # What is best practices for this if / else 
                    m = m  
                else:
                    if m == '-':
                        page.append(' ')
                    else: 
                        page.append(m)
    
    return

In [105]:
cleanup(pageviews_per_page_df, 0)

hi
yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [101]:
# clean up page name 

x  =  pageviews_per_page_df.iloc[2,0]

# if x is str (try exclude)

# x ==  strings, No floats No integers (nans are floats)


print(x)
print(type(x))
#print(len(x))
page = []
for m in x:
    
    # Nested if loops 
    if m == '/':            # What is best practices for this if / else 
        m = m  
    else:
        if m == '-':
            page.append(' ')
        else: 
            page.append(m)
            
#print(page)

print(''.join(page))

# loop through each varable to check char, and replace if needed 

(type(x) == type('str'))

/yoga-pops-fundraiser
<class 'str'>
yoga pops fundraiser

True