In [ ]:
SELECT STREAM , SUM(amt) OVER w
FROM sales
WINDOW w AS (PARTITION BY store_id
ORDER BY s.ROWTIME
RANGE BETWEEN INTERVAL '1' HOUR PRECEDING AND CURRENT ROW);

In [ ]:
Select t2.Date from Table t1

INNER JOIN table t2 on

t2.ID=t1.ID+1

where t2.Temperature <t1.Temperature;