# Gas Usage vs Temperature

In [1]:
# import

import pandas as pd
import numpy as np

# data

In [5]:
df = pd.read_excel('../data/gas_used.xlsx')
print(df.shape)
df.head()

(7, 6)

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
0,NaN,NaT,NaN,NaN,NaN,NaN
1,NaN,NaT,NaN,NaN,NaN,NaN
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99

In [16]:
df_ = pd.read_csv('../data/2469458.csv')
print(df_.shape)
df_.sample(3)

(2604, 13)

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF
151,US1NYUL0020,"ULSTER PARK 0.9 NNW, NY US",2020-12-04,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1385,US1NYUL0015,"STONE RIDGE 0.7 N, NY US",2021-01-07,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,US1NYUL0021,"STONE RIDGE 0.5 WNW, NY US",2020-08-11,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
_df = pd.read_csv('../data/2469673.csv')
print(_df.shape)
_df.sample(3)

(2604, 26)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DAPR_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,...,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,TOBS,TOBS_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WESF,WESF_ATTRIBUTES
1260,US1NYUL0015,"STONE RIDGE 0.7 N, NY US",41.851550,-74.151624,117.7,2020-08-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,US1NYUL0031,"HURLEY 2.2 S, NY US",41.881496,-74.056262,50.0,2020-09-03,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
836,US1NYUL0022,"KINGSTON 2.1 N, NY US",41.961037,-73.995767,55.8,2021-01-09,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
_df_ = pd.read_csv('../data/2469671.csv')
print(_df_.shape)
_df_.sample(3)

(553, 20)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DAPR_ATTRIBUTES,MDPR,MDPR_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,SNOW,SNOW_ATTRIBUTES,SNWD,SNWD_ATTRIBUTES,WESD,WESD_ATTRIBUTES,WESF,WESF_ATTRIBUTES
344,US1NYUL0022,"KINGSTON 2.1 N, NY US",41.961037,-73.995767,55.8,2021-02-02,NaN,NaN,NaN,NaN,1.25,",,N",14.2,",,N",14.2,",,N",1.3,",,N",1.3,",,N"
62,US1NYUL0032,"ESOPUS 0.8 NNE, NY US",41.838544,-73.958758,49.4,2021-01-13,NaN,NaN,NaN,NaN,0.00,",,N",0.0,",,N",NaN,NaN,NaN,NaN,NaN,NaN
13,US1NYUL0031,"HURLEY 2.2 S, NY US",41.881496,-74.056262,50.0,2021-01-14,NaN,NaN,NaN,NaN,0.00,",,N",0.0,",,N",0.0,",,N",0.0,",,N",0.0,",,N"

# EDA

Clean data - gas_used.xls

Numpy - paying with pandas -> numpy

In [21]:
# DataFrame.to_numpy(dtype=None, copy=False, na_value=<object object>)[source]
# view pandas as numpy

print(type(df.to_numpy))
print()
df.to_numpy()

<class 'method'>

array([[nan, NaT, nan, nan, nan, nan],
       [nan, NaT, nan, nan, nan, nan],
       [676952.0, Timestamp('2020-10-02 00:00:00'), 117.04, 55.3, 6.99,
        1.99],
       [681181.0, Timestamp('2020-11-25 00:00:00'), 320.2, 103.5, 6.99,
        nan],
       [685620.0, Timestamp('2020-12-26 00:00:00'), 205.99, 100.0, 6.99,
        1.99],
       [688270.0, Timestamp('2021-01-20 00:00:00'), 224.7, 109.4, 6.99,
        1.99],
       [692265.0, Timestamp('2021-02-17 00:00:00'), 205.99, 100.0, 6.99,
        1.99]], dtype=object)

In [29]:
# drop rows with nans - look but not update

df.drop([0,1])

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99
5,688270.0,2021-01-20,224.70,109.4,6.99,1.99
6,692265.0,2021-02-17,205.99,100.0,6.99,1.99

In [49]:
# delete rows with numpy 

"""
??special handling of scalars??
What is def of scalars and how can they be specially be handled. 
"""

#created numpy array 
x = df.to_numpy()

print(type(x))

## numpy.delete(arr, obj, axis=None)
np.delete(x, [0,1],0)

<class 'numpy.ndarray'>

array([[676952.0, Timestamp('2020-10-02 00:00:00'), 117.04, 55.3, 6.99,
        1.99],
       [681181.0, Timestamp('2020-11-25 00:00:00'), 320.2, 103.5, 6.99,
        nan],
       [685620.0, Timestamp('2020-12-26 00:00:00'), 205.99, 100.0, 6.99,
        1.99],
       [688270.0, Timestamp('2021-01-20 00:00:00'), 224.7, 109.4, 6.99,
        1.99],
       [692265.0, Timestamp('2021-02-17 00:00:00'), 205.99, 100.0, 6.99,
        1.99]], dtype=object)

    practice numpy

In [50]:
# drop the nan rows and redefine the dataframe

df = df.drop([0,1])

In [51]:
df.head()

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99
5,688270.0,2021-01-20,224.70,109.4,6.99,1.99
6,692265.0,2021-02-17,205.99,100.0,6.99,1.99

In [62]:
print(type(df['transaction date']))
print()
df['transaction date']

<class 'pandas.core.series.Series'>

2   2020-10-02
3   2020-11-25
4   2020-12-26
5   2021-01-20
6   2021-02-17
Name: transaction date, dtype: datetime64[ns]

In [ ]:
# reset index

In [ ]:
# convert transaction date to timestamp

In [63]:
#  issue why is this not working ?

df.loc['gal']

KeyError: 'gal'

In [66]:
## weather station

: ---:--- :---:
|a|b|x|
: ---:--- :---:

##  Data Dictory 

Air Temperature

TMAX	Maximum temperature
TMIN	Minimum temperature
TOBS	Temperature at the time of observation

Percipitation

DAPR	Number of days included in the multiday precipitation total (MDPR)
DASF	Number of days included in the multiday snow fall total (MDSF)
MDPR	Multiday precipitation total (use with DAPR and DWPR, if available)
MDSF	Multiday snowfall total
PRCP	Precipitation
SNOW	Snowfall
SNWD	Snow depth

Water

WESD	Water equivalent of snow on the ground
WESF	Water equivalent of snowfall

Weather Type

WT01	Fog, ice fog, or freezing fog (may include heavy fog)
WT03	Thunder
WT04	Ice pellets, sleet, snow pellets, or small hail"
WT05	Hail (may include small hail)
WT06	Glaze or rime
WT08	Smoke or haze
WT09	Blowing or drifting snow
WT10	Tornado, waterspout, or funnel cloud"
WT11	High or damaging winds
WT14	Drizzle
WT16	Rain (may include freezing rain, drizzle, and freezing drizzle)"
WT18	Snow, snow pellets, snow grains, or ice crystals

In [67]:
# the data  

df_.sample(3)

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF
2584,US1NYUL0019,"WOODSTOCK 0.8 ENE, NY US",2021-01-24,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
368,US1NYUL0031,"HURLEY 2.2 S, NY US",2020-12-30,NaN,NaN,0.00,0.0,0.0,NaN,NaN,NaN,0.0,0.0
244,US1NYUL0031,"HURLEY 2.2 S, NY US",2020-08-27,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
# how many observations centers are being used 

np.unique(df_['STATION'])

array(['US1NYUL0015', 'US1NYUL0016', 'US1NYUL0019', 'US1NYUL0020',
       'US1NYUL0021', 'US1NYUL0022', 'US1NYUL0023', 'US1NYUL0026',
       'US1NYUL0028', 'US1NYUL0029', 'US1NYUL0031', 'US1NYUL0032',
       'US1NYUL0034', 'USC00305426', 'USC00306570', 'USC00307274'],
      dtype=object)

In [74]:
# list of stations and count of data they have

df_.groupby(['STATION','NAME']).count()

,,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF
STATION,NAME,,,,,,,,,,,
US1NYUL0015,"STONE RIDGE 0.7 N, NY US",164,15,15,149,17,5,0,0,0,1,0
US1NYUL0016,"ROSENDALE VILLAGE 1.8 WNW, NY US",197,3,3,194,133,42,0,0,0,1,0
US1NYUL0019,"WOODSTOCK 0.8 ENE, NY US",186,5,5,179,140,18,0,0,0,0,1
US1NYUL0020,"ULSTER PARK 0.9 NNW, NY US",187,0,0,187,117,0,0,0,0,0,0
US1NYUL0021,"STONE RIDGE 0.5 WNW, NY US",135,1,1,134,67,0,0,0,0,0,0
US1NYUL0022,"KINGSTON 2.1 N, NY US",102,0,0,102,67,6,0,0,0,3,6
US1NYUL0023,"WEST HURLEY 0.1 S, NY US",191,3,3,188,152,48,0,0,0,0,0
US1NYUL0026,"GARDINER 1.3 WNW, NY US",183,0,0,183,8,0,0,0,0,0,1
US1NYUL0028,"KERHONKSON 3.7 N, NY US",203,1,0,202,161,41,0,0,0,23,42
US1NYUL0029,"HIGHLAND 0.2 SW, NY US",202,1,1,201,198,153,0,0,0,143,197
US1NYUL0031,"HURLEY 2.2 S, NY US",202,1,1,201,164,96,0,0,0,79,103
US1NYUL0032,"ESOPUS 0.8 NNE, NY US",201,0,0,201,145,3,0,0,0,1,2
US1NYUL0034,"WALLKILL 3.7 E, NY US",199,0,0,191,27,8,0,0,0,8,10
USC00305426,"MOHONK LAKE, NY US",31,0,0,0,31,31,31,31,31,0,0
USC00306570,"PHONECIA 2 SW, NY US",153,0,0,153,153,153,0,0,0,0,0
USC00307274,"ROSENDALE 2 E, NY US",68,0,0,66,5,5,0,0,0,0,0

In [73]:
df_[df_['STATION'] == 'USC00305426']

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF
0,USC00305426,"MOHONK LAKE, NY US",2020-08-01,NaN,NaN,NaN,0.0,0.0,88.0,64.0,88.0,NaN,NaN
1,USC00305426,"MOHONK LAKE, NY US",2020-08-02,NaN,NaN,NaN,0.0,0.0,88.0,71.0,85.0,NaN,NaN
2,USC00305426,"MOHONK LAKE, NY US",2020-08-03,NaN,NaN,NaN,0.0,0.0,85.0,70.0,85.0,NaN,NaN
3,USC00305426,"MOHONK LAKE, NY US",2020-08-04,NaN,NaN,NaN,0.0,0.0,85.0,68.0,70.0,NaN,NaN
4,USC00305426,"MOHONK LAKE, NY US",2020-08-05,NaN,NaN,NaN,0.0,0.0,82.0,65.0,81.0,NaN,NaN
5,USC00305426,"MOHONK LAKE, NY US",2020-08-06,NaN,NaN,NaN,0.0,0.0,81.0,60.0,79.0,NaN,NaN
6,USC00305426,"MOHONK LAKE, NY US",2020-08-07,NaN,NaN,NaN,0.0,0.0,79.0,64.0,76.0,NaN,NaN
7,USC00305426,"MOHONK LAKE, NY US",2020-08-08,NaN,NaN,NaN,0.0,0.0,83.0,63.0,83.0,NaN,NaN
8,USC00305426,"MOHONK LAKE, NY US",2020-08-09,NaN,NaN,NaN,0.0,0.0,86.0,69.0,86.0,NaN,NaN
9,USC00305426,"MOHONK LAKE, NY US",2020-08-10,NaN,NaN,NaN,0.0,0.0,88.0,70.0,88.0,NaN,NaN
10,USC00305426,"MOHONK LAKE, NY US",2020-08-11,NaN,NaN,NaN,0.0,0.0,89.0,70.0,89.0,NaN,NaN
11,USC00305426,"MOHONK LAKE, NY US",2020-08-12,NaN,NaN,NaN,0.0,0.0,89.0,69.0,83.0,NaN,NaN
12,USC00305426,"MOHONK LAKE, NY US",2020-08-13,NaN,NaN,NaN,0.0,0.0,83.0,66.0,80.0,NaN,NaN
13,USC00305426,"MOHONK LAKE, NY US",2020-08-14,NaN,NaN,NaN,0.0,0.0,84.0,63.0,84.0,NaN,NaN
14,USC00305426,"MOHONK LAKE, NY US",2020-08-15,NaN,NaN,NaN,0.0,0.0,84.0,66.0,79.0,NaN,NaN
15,USC00305426,"MOHONK LAKE, NY US",2020-08-16,NaN,NaN,NaN,0.0,0.0,79.0,63.0,66.0,NaN,NaN
16,USC00305426,"MOHONK LAKE, NY US",2020-08-17,NaN,NaN,NaN,0.0,0.0,78.0,63.0,78.0,NaN,NaN
17,USC00305426,"MOHONK LAKE, NY US",2020-08-18,NaN,NaN,NaN,0.0,0.0,79.0,58.0,79.0,NaN,NaN
18,USC00305426,"MOHONK LAKE, NY US",2020-08-19,NaN,NaN,NaN,0.0,0.0,79.0,58.0,77.0,NaN,NaN
19,USC00305426,"MOHONK LAKE, NY US",2020-08-20,NaN,NaN,NaN,0.0,0.0,77.0,54.0,77.0,NaN,NaN
20,USC00305426,"MOHONK LAKE, NY US",2020-08-21,NaN,NaN,NaN,0.0,0.0,84.0,62.0,84.0,NaN,NaN
21,USC00305426,"MOHONK LAKE, NY US",2020-08-22,NaN,NaN,NaN,0.0,0.0,89.0,64.0,88.0,NaN,NaN
22,USC00305426,"MOHONK LAKE, NY US",2020-08-23,NaN,NaN,NaN,0.0,0.0,88.0,67.0,87.0,NaN,NaN
23,USC00305426,"MOHONK LAKE, NY US",2020-08-24,NaN,NaN,NaN,0.0,0.0,90.0,70.0,89.0,NaN,NaN
24,USC00305426,"MOHONK LAKE, NY US",2020-08-25,NaN,NaN,NaN,0.0,0.0,89.0,69.0,83.0,NaN,NaN
25,USC00305426,"MOHONK LAKE, NY US",2020-08-26,NaN,NaN,NaN,0.0,0.0,83.0,57.0,76.0,NaN,NaN
26,USC00305426,"MOHONK LAKE, NY US",2020-08-27,NaN,NaN,NaN,0.0,0.0,85.0,61.0,72.0,NaN,NaN
27,USC00305426,"MOHONK LAKE, NY US",2020-08-28,NaN,NaN,NaN,0.0,0.0,80.0,65.0,80.0,NaN,NaN
28,USC00305426,"MOHONK LAKE, NY US",2020-08-29,NaN,NaN,NaN,0.0,0.0,80.0,66.0,79.0,NaN,NaN
29,USC00305426,"MOHONK LAKE, NY US",2020-08-30,NaN,NaN,NaN,0.0,0.0,79.0,60.0,74.0,NaN,NaN
30,USC00305426,"MOHONK LAKE, NY US",2020-08-31,NaN,NaN,NaN,0.0,0.0,74.0,53.0,72.0,NaN,NaN

## _df

In [88]:
# list of stations and count of data they have

np.unique(_df['STATION'])

array(['US1NYUL0015', 'US1NYUL0016', 'US1NYUL0019', 'US1NYUL0020',
       'US1NYUL0021', 'US1NYUL0022', 'US1NYUL0023', 'US1NYUL0026',
       'US1NYUL0028', 'US1NYUL0029', 'US1NYUL0031', 'US1NYUL0032',
       'US1NYUL0034', 'USC00305426', 'USC00306570', 'USC00307274'],
      dtype=object)

## _df_

In [95]:
# list of stations and count of data they have

np.unique(_df_['STATION'])

array(['US1NYUL0015', 'US1NYUL0016', 'US1NYUL0019', 'US1NYUL0020',
       'US1NYUL0022', 'US1NYUL0023', 'US1NYUL0026', 'US1NYUL0028',
       'US1NYUL0029', 'US1NYUL0031', 'US1NYUL0032', 'US1NYUL0034',
       'USC00307274'], dtype=object)