# Gas Usage vs Temperature

In [1]:
# import

import pandas as pd
import numpy as np

In [5]:
df = pd.read_excel('../data/gas_used.xlsx')
print(df.shape)
df.head()

(7, 6)

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
0,NaN,NaT,NaN,NaN,NaN,NaN
1,NaN,NaT,NaN,NaN,NaN,NaN
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99

In [12]:
# drop rows 

df.drop([0,1])

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99
5,688270.0,2021-01-20,224.70,109.4,6.99,1.99
6,692265.0,2021-02-17,205.99,100.0,6.99,1.99

In [11]:
# DataFrame.to_numpy(dtype=None, copy=False, na_value=<object object>)[source]
# view pandas as numpy

df.to_numpy()

array([[nan, NaT, nan, nan, nan, nan],
       [nan, NaT, nan, nan, nan, nan],
       [676952.0, Timestamp('2020-10-02 00:00:00'), 117.04, 55.3, 6.99,
        1.99],
       [681181.0, Timestamp('2020-11-25 00:00:00'), 320.2, 103.5, 6.99,
        nan],
       [685620.0, Timestamp('2020-12-26 00:00:00'), 205.99, 100.0, 6.99,
        1.99],
       [688270.0, Timestamp('2021-01-20 00:00:00'), 224.7, 109.4, 6.99,
        1.99],
       [692265.0, Timestamp('2021-02-17 00:00:00'), 205.99, 100.0, 6.99,
        1.99]], dtype=object)

In [10]:
## numpy.delete(arr, obj, axis=None)

np.delete(df, 0)

ValueError: Shape of passed values is (41, 1), indices imply (7, 6)