In [1]:
import pandas as pd

# Content 

- [Data CO2](#Data-CO2)
- [Dry Natural Gas Consumption 1980 - 2009](#Dry-Natural-Gas-Consumption-1980---2009)

### Ref:

-[climate . GOV](https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature)  
-[NCAR Climate Data Guide](https://climatedataguide.ucar.edu/climate-data/global-surface-temperatures-best-berkeley-earth-surface-temperatures)
-[Berkely Earth](http://berkeleyearth.org/data/)  
-[Climate Change Indicator](https://www.epa.gov/climate-indicators/greenhouse-gases)  
-[Annual carbon dioxide by openEI](https://openei.org/datasets/dataset/annual-carbon-dioxide-emissions-2005-2009)

# What is Natural gas 

<img src='../img/natural_gas.png'>

# Natural gas

    Natural Gas = (
                   methane : CH_4, 60 - 90 
                   ethane : C2H6, 0 - 20
                   propane : C3H8, 0 - 20
                   butane : C4H10, 0 - 20
                   carbon dioxide : CO2, 0 - 8 
                   oxygen : 02, 0 - 0.2
                   nitrogen : N2, 0 - 5
                   hydrogen sulfide : H2S, 0 - 5
                   rare gases : A, He, 0
                   )

In [151]:
# dictonary
#    gas = name of compound 
#    symbol = chemical formula 
#    perc = percent of total 'methane gas'
    

natural_gas = [  {'gas' : 'methane' , 'symbol':'CH_4' , 'perc':'60 - 90'}, 
                 {'gas': 'ethane', 'symbol':'C_2H_6', 'perc': '0 - 20'},
                 {'gas':'propane', 'symbol':'C_3H_8',  'perc':'0 - 20'},
                 {'gas':'butane' , 'symbol':'C_4H_10', 'perc':'0 - 20'},
                 {'gas':'carbon dioxide' , 'symbol':'CO_2', 'perc':'0 - 8'}, 
                 {'gas':'oxygen' , 'symbol':'0_2', 'perc':'0 - 0.2'},
                 {'gas':'nitrogen' , 'symbol':'N_2', 'perc':'0 - 5'},
                 {'gas':'hydrogen sulfide' , 'symbol':'H_2S', 'perc':'0 - 5'},
                 {'gas':'rare gases1' , 'symbol':'A', 'prec':'0-2'}, 
                 {'gas':'rare gases2' , 'symbol':'He', 'prec':'0-2'}, 
                ]

# Data-CO2 
<hr/>

In [42]:
# owid-co2-data

df1 = pd.read_csv('../data/owid-co2-data.csv')
print(df1.shape)
df1.head()

(23708, 55)

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [44]:
df1['iso_code'].unique()

array(['AFG', nan, 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'ARM',
       'ABW', 'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR',
       'BEL', 'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BES', 'BIH', 'BWA',
       'BRA', 'VGB', 'BRN', 'BGR', 'BFA', 'BDI', 'KHM', 'CMR', 'CAN',
       'CPV', 'CAF', 'TCD', 'CHL', 'CHN', 'CXR', 'COL', 'COM', 'COG',
       'COK', 'CRI', 'CIV', 'HRV', 'CUB', 'CYP', 'CZE', 'COD', 'DNK',
       'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST',
       'SWZ', 'ETH', 'FRO', 'FJI', 'FIN', 'FRA', 'PYF', 'GAB', 'GMB',
       'GEO', 'DEU', 'GHA', 'GRC', 'GRL', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HKG', 'HUN', 'ISL', 'IND', 'IDN', 'IRN',
       'IRQ', 'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN',
       'KIR', 'OWID_KOS', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR',
       'LBY', 'LIE', 'LTU', 'LUX', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'MDA', 'MNG', 'MNE', 'MSR',
       'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NCL', 'NZL',
       'NIC', 'NER', 'NGA', 'NIU', 'PRK', 'MKD', 'NOR', 'OMN', 'PAK',
       'PLW', 'PSE', 'PAN', 'PNG', 'PRY', 'PER', 'PHL', 'POL', 'PRT',
       'PRI', 'QAT', 'ROU', 'RUS', 'RWA', 'SHN', 'KNA', 'LCA', 'SPM',
       'VCT', 'WSM', 'STP', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SXM', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'KOR', 'SSD', 'ESP',
       'LKA', 'SDN', 'SUR', 'SWE', 'CHE', 'SYR', 'TWN', 'TJK', 'TZA',
       'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR', 'TKM', 'TCA',
       'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB', 'VUT',
       'VEN', 'VNM', 'WLF', 'OWID_WRL', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [45]:
df1['year'].unique()

array([1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 1884, 1885, 1886, 1887, 1888, 1889,
       1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900,
       1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911,
       1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922,
       1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933,
       1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944,
       1945, 1946, 1947, 1948, 1830, 1831, 1832, 1833, 1834, 1835, 1836,
       1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847,
       1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858,
       1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869,
       1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880,
       1881, 1882, 1883, 1807, 1819, 1820, 1821, 1822, 1823, 1824, 1825,
       1826, 1827, 1828, 1829, 1802, 1785, 1786, 1787, 1788, 1789, 1790,
       1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801,
       1803, 1804, 1805, 1806, 1808, 1809, 1810, 1811, 1812, 1813, 1814,
       1815, 1816, 1817, 1818, 1750, 1751, 1752, 1753, 1754, 1755, 1756,
       1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767,
       1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778,
       1779, 1780, 1781, 1782, 1783, 1784])

In [105]:
# Columns Part 1

df1.iloc[:,:20]

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,share_global_co2,cumulative_co2,share_global_cumulative_co2,co2_per_gdp,consumption_co2_per_gdp,co2_per_unit_energy,cement_co2,coal_co2,flaring_co2
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.002,NaN,0.000,0.015,0.000,NaN,NaN,NaN,NaN,0.015,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.011,NaN,0.001,0.099,0.000,0.004,NaN,NaN,NaN,0.021,NaN
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.012,NaN,0.001,0.191,0.000,0.005,NaN,NaN,NaN,0.026,NaN
3,AFG,Afghanistan,1952,0.092,NaN,NaN,NaN,NaN,NaN,0.012,NaN,0.001,0.282,0.000,0.004,NaN,NaN,NaN,0.032,NaN
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.013,NaN,0.002,0.388,0.000,0.005,NaN,NaN,NaN,0.038,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,12.170,1.653,0.198,13.308,1.138,9.350,0.881,0.963,0.035,726.480,0.048,0.486,0.532,NaN,0.504,8.035,NaN
23704,ZWE,Zimbabwe,2016,10.815,-11.139,-1.356,12.171,1.356,12.542,0.771,0.868,0.031,737.295,0.048,0.430,0.484,NaN,0.581,7.061,NaN
23705,ZWE,Zimbabwe,2017,10.247,-5.251,-0.568,11.774,1.527,14.902,0.720,0.827,0.029,747.542,0.047,NaN,NaN,NaN,0.581,6.383,NaN
23706,ZWE,Zimbabwe,2018,11.341,10.674,1.094,12.815,1.475,13.006,0.785,0.888,0.031,758.882,0.047,NaN,NaN,NaN,0.581,7.369,NaN
23707,ZWE,Zimbabwe,2019,10.374,-8.521,-0.966,NaN,NaN,NaN,0.708,NaN,0.028,769.256,0.047,NaN,NaN,NaN,0.581,6.304,NaN

In [ ]:
'consumption_co2','trade_co2','co2_per_capita','share_global_co2','cumulative_co2','co2_per_gdp'.''

In [104]:
# Columns Part 2

df1.iloc[:,20:]

,gas_co2,oil_co2,other_industry_co2,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,share_global_coal_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,NaN,NaN,NaN,NaN,0.002,NaN,NaN,NaN,NaN,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,NaN,0.063,NaN,NaN,0.003,NaN,NaN,0.008,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,NaN,0.066,NaN,NaN,0.003,NaN,NaN,0.008,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,NaN,0.060,NaN,NaN,0.004,NaN,NaN,0.008,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,NaN,0.068,NaN,NaN,0.005,NaN,NaN,0.008,NaN,0.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,NaN,3.631,NaN,0.037,0.582,NaN,NaN,0.263,NaN,0.055,...,4.885,11.87,0.859,6.68,0.484,NaN,NaN,NaN,13815000.0,2.503057e+10
23704,NaN,3.173,NaN,0.041,0.503,NaN,NaN,0.226,NaN,0.049,...,4.703,11.92,0.850,6.55,0.467,NaN,NaN,NaN,14030000.0,2.515176e+10
23705,NaN,3.283,NaN,0.041,0.448,NaN,NaN,0.231,NaN,0.044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN
23706,NaN,3.390,NaN,0.040,0.510,NaN,NaN,0.235,NaN,0.050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN
23707,NaN,3.489,NaN,0.040,0.430,NaN,NaN,0.238,NaN,0.044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN

In [110]:
# year sum() 

df1.groupby('year').sum()

,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,share_global_co2,cumulative_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
year,,,,,,,,,,,,,,,,,,,,,
1750,46.755,0.000,0.000,0.000,0.000,0.000,0.012,0.000,500.000,46.755,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,9.675051e+08,0.000000e+00
1751,46.755,0.000,0.000,0.000,0.000,0.000,0.000,0.000,500.000,93.505,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1752,46.770,0.195,0.020,0.000,0.000,0.000,0.000,0.000,500.000,140.275,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1753,46.770,0.000,0.000,0.000,0.000,0.000,0.000,0.000,500.000,187.045,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1754,46.790,0.195,0.020,0.000,0.000,0.000,0.000,0.000,500.000,233.835,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,123813.289,440.134,43.473,31556.350,174.528,3695.584,1100.153,771.434,348.354,5720630.412,...,1480.963,17650.22,362.513,6291.99,107.669,298190.665,3498890.300,113.767,2.150828e+10,2.095382e+14
2016,123890.716,549.623,57.678,31486.432,142.718,3376.193,1082.366,756.476,348.409,5843341.131,...,1415.378,17424.08,345.520,6291.93,105.005,302261.570,3494606.983,113.354,2.175480e+10,2.128973e+14
2017,125438.734,519.916,1898.797,31871.220,161.553,3287.892,1094.867,760.948,444.377,7508124.254,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.197585e+10,0.000000e+00
2018,127746.944,882.674,2992.570,32553.739,241.678,3362.022,1116.833,768.869,443.766,7669743.894,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.221902e+10,0.000000e+00
2019,127568.915,283.618,-156.701,0.000,0.000,0.000,1104.550,0.000,443.065,7831206.852,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.245966e+10,0.000000e+00

In [111]:
# year sum() 

df1.groupby('year').sum()

,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,share_global_co2,cumulative_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
year,,,,,,,,,,,,,,,,,,,,,
1750,46.755,0.000,0.000,0.000,0.000,0.000,0.012,0.000,500.000,46.755,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,9.675051e+08,0.000000e+00
1751,46.755,0.000,0.000,0.000,0.000,0.000,0.000,0.000,500.000,93.505,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1752,46.770,0.195,0.020,0.000,0.000,0.000,0.000,0.000,500.000,140.275,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1753,46.770,0.000,0.000,0.000,0.000,0.000,0.000,0.000,500.000,187.045,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
1754,46.790,0.195,0.020,0.000,0.000,0.000,0.000,0.000,500.000,233.835,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,123813.289,440.134,43.473,31556.350,174.528,3695.584,1100.153,771.434,348.354,5720630.412,...,1480.963,17650.22,362.513,6291.99,107.669,298190.665,3498890.300,113.767,2.150828e+10,2.095382e+14
2016,123890.716,549.623,57.678,31486.432,142.718,3376.193,1082.366,756.476,348.409,5843341.131,...,1415.378,17424.08,345.520,6291.93,105.005,302261.570,3494606.983,113.354,2.175480e+10,2.128973e+14
2017,125438.734,519.916,1898.797,31871.220,161.553,3287.892,1094.867,760.948,444.377,7508124.254,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.197585e+10,0.000000e+00
2018,127746.944,882.674,2992.570,32553.739,241.678,3362.022,1116.833,768.869,443.766,7669743.894,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.221902e+10,0.000000e+00
2019,127568.915,283.618,-156.701,0.000,0.000,0.000,1104.550,0.000,443.065,7831206.852,...,0.000,0.00,0.000,0.00,0.000,0.000,0.000,0.000,2.245966e+10,0.000000e+00

In [112]:
# year sum() 

df1.groupby('year')['co2'].sum()

year
1750        46.755
1751        46.755
1752        46.770
1753        46.770
1754        46.790
           ...
2015    123813.289
2016    123890.716
2017    125438.734
2018    127746.944
2019    127568.915
Name: co2, Length: 270, dtype: float64

In [129]:
# compress dataframe, drop Geo 

df1 = df1.groupby('year').sum()

In [137]:
type(df1.index[1])

numpy.int64

In [143]:
# Date Mask

df1 = df1[ df1.index >= 1979 ]

df1.head(2)

,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,consumption_co2_per_capita,share_global_co2,cumulative_co2,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
year,,,,,,,,,,,,,,,,,,,,,
1979,76753.465,1479.309,2085.984,0.0,0.0,0.0,1246.346,0.0,392.003,2305064.136,...,0.0,0.0,0.0,0.0,0.0,141762.633,2591656.549,242.536,1.276898e+10,6.258843e+13
1980,76520.751,1627.994,-220.085,0.0,0.0,0.0,1220.263,0.0,392.780,2381129.160,...,0.0,0.0,0.0,0.0,0.0,140370.727,2533471.384,238.327,1.299298e+10,6.531506e+13

# Dry Natural Gas Consumption 1980 - 2009
<hr/>

In [147]:
# owid-co2-data

df2 = pd.read_csv('../data/drynaturalgasconsumption19802009quadrillionbtu.csv')
print(df2.shape)
df2.head()

(232, 32)

,Unnamed: 0,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,North America,22.99389,22.52281,21.24996,20.11535,21.44691,20.94839,19.67609,20.72203,21.77161,...,27.45426,28.42206,28.04075,28.02332,27.75657,27.90121,29.29893,29.45917,28.76674,29.84017
1,Bermuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Canada,1.91491,1.86417,1.90217,1.90034,2.05577,2.20417,2.16031,2.14368,2.37063,...,3.19009,3.24322,3.45726,3.4245,3.49574,3.39607,3.5194,3.50256,3.20843,3.02674
3,Greenland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Mexico,0.84352,0.91133,0.99157,0.99417,0.99753,1.04073,0.92441,0.93855,0.95259,...,1.49161,1.62042,1.75285,1.68968,1.69941,2.28124,2.07754,2.16548,2.14732,2.14732

In [14]:
df2['Unnamed: 0'].unique()

array(['North America', 'Bermuda', 'Canada', 'Greenland', 'Mexico',
       'Saint Pierre and Miquelon', 'United States',
       'Central & South America', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Aruba', 'Bahamas, The', 'Barbados', 'Belize',
       'Bolivia', 'Brazil', 'Cayman Islands', 'Chile', 'Colombia',
       'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Falkland Islands (Islas Malvinas)',
       'French Guiana', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guyana',
       'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Montserrat',
       'Netherlands Antilles', 'Nicaragua', 'Panama', 'Paraguay', 'Peru',
       'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent/Grenadines', 'Suriname', 'Trinidad and Tobago',
       'Turks and Caicos Islands', 'Uruguay', 'Venezuela',
       'Virgin Islands,  U.S.', 'Virgin Islands, British', 'Europe',
       'Albania', 'Austria', 'Belgium', 'Bosnia and Herzegovina',
       'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Faroe Islands', 'Finland', 'Former Czechoslovakia',
       'Former Serbia and Montenegro', 'Former Yugoslavia', 'France',
       'Germany', 'Germany, East', 'Germany, West', 'Gibraltar', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Luxembourg',
       'Macedonia', 'Malta', 'Montenegro', 'Netherlands', 'Norway',
       'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovakia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom',
       'Eurasia', 'Armenia', 'Azerbaijan', 'Belarus', 'Estonia',
       'Former U.S.S.R.', 'Georgia', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Moldova', 'Russia', 'Tajikistan', 'Turkmenistan',
       'Ukraine', 'Uzbekistan', 'Middle East', 'Bahrain', 'Iran', 'Iraq',
       'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Palestine',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen',
       'Africa', 'Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Cote dIvoire (IvoryCoast)', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia, The',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion',
       'Rwanda', 'Saint Helena', 'Sao Tome and Principe', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'Sudan',
       'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda',
       'Western Sahara', 'Zambia', 'Zimbabwe', 'Asia & Oceania',
       'Afghanistan', 'American Samoa', 'Australia', 'Bangladesh',
       'Bhutan', 'Brunei', 'Burma (Myanmar)', 'Cambodia', 'China',
       'Cook Islands', 'Fiji', 'French Polynesia', 'Guam',
       'Hawaiian Trade Zone', 'Hong Kong', 'India', 'Indonesia', 'Japan',
       'Kiribati', 'Korea, North', 'Korea, South', 'Laos', 'Macau',
       'Malaysia', 'Maldives', 'Mongolia', 'Nauru', 'Nepal',
       'New Caledonia', 'New Zealand', 'Niue', 'Pakistan',
       'Papua New Guinea', 'Philippines', 'Samoa', 'Singapore',
       'Solomon Islands', 'Sri Lanka', 'Taiwan', 'Thailand',
       'Timor-Leste (East Timor)', 'Tonga', 'U.S. Pacific Islands',
       'Vanuatu', 'Vietnam', 'Wake Island', 'World'], dtype=object)

# Electric Power Consumption
<hr/>

In [26]:
df3 = pd.read_csv('../data/electric_power_consumption/en_csv_v2_2056494.csv', skiprows=3)
print(df3.shape)
df3.head()

(264, 66)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,219.253430,280.214547,312.228825,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,2118.327776,2533.252829,2309.366503,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,Electric power consumption (kWh per capita),EG.USE.ELEC.KH.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# World Population
<hr/>

In [31]:
df4 = pd.read_csv('../data/population/csv_v2_2106202.csv', skiprows = 3)
print(df4.shape)
df4.head()

(264, 66)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,102560.0,103159.0,103774.0,104341.0,104872.0,105366.0,105845.0,106314.0,NaN,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996973.0,9169410.0,9351441.0,9543205.0,9744781.0,9956320.0,...,31161376.0,32269589.0,33370794.0,34413603.0,35383128.0,36296400.0,37172386.0,38041754.0,NaN,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5454933.0,5531472.0,5608539.0,5679458.0,5735044.0,5770570.0,...,25107931.0,26015780.0,26941779.0,27884381.0,28842484.0,29816748.0,30809762.0,31825295.0,NaN,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,NaN,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,82427.0,80774.0,79213.0,78011.0,77297.0,77001.0,77006.0,77142.0,NaN,NaN

In [16]:
 = pd.read_csv('../data/Complete_TAVG_complete.txt')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 19, saw 2