# Gas Usage vs Temperature

In [1]:
# import

import pandas as pd
import numpy as np

# data

In [5]:
df = pd.read_excel('../data/gas_used.xlsx')
print(df.shape)
df.head()

(7, 6)

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
0,NaN,NaT,NaN,NaN,NaN,NaN
1,NaN,NaT,NaN,NaN,NaN,NaN
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99

In [16]:
df_ = pd.read_csv('../data/2469458.csv')
print(df_.shape)
df_.sample(3)

(2604, 13)

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESD,WESF
151,US1NYUL0020,"ULSTER PARK 0.9 NNW, NY US",2020-12-04,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1385,US1NYUL0015,"STONE RIDGE 0.7 N, NY US",2021-01-07,NaN,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,US1NYUL0021,"STONE RIDGE 0.5 WNW, NY US",2020-08-11,NaN,NaN,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# EDA

Clean data - gas_used.xls

Numpy - paying with pandas -> numpy

In [21]:
# DataFrame.to_numpy(dtype=None, copy=False, na_value=<object object>)[source]
# view pandas as numpy

print(type(df.to_numpy))
print()
df.to_numpy()

<class 'method'>

array([[nan, NaT, nan, nan, nan, nan],
       [nan, NaT, nan, nan, nan, nan],
       [676952.0, Timestamp('2020-10-02 00:00:00'), 117.04, 55.3, 6.99,
        1.99],
       [681181.0, Timestamp('2020-11-25 00:00:00'), 320.2, 103.5, 6.99,
        nan],
       [685620.0, Timestamp('2020-12-26 00:00:00'), 205.99, 100.0, 6.99,
        1.99],
       [688270.0, Timestamp('2021-01-20 00:00:00'), 224.7, 109.4, 6.99,
        1.99],
       [692265.0, Timestamp('2021-02-17 00:00:00'), 205.99, 100.0, 6.99,
        1.99]], dtype=object)

In [29]:
# drop rows 

df.drop([0,1])

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99
5,688270.0,2021-01-20,224.70,109.4,6.99,1.99
6,692265.0,2021-02-17,205.99,100.0,6.99,1.99

In [49]:
# delete rows with numpy 

"""
??special handling of scalars??
What is def of scalars and how can they be specially be handled. 
"""

#created numpy array 
x = df.to_numpy()

print(type(x))

## numpy.delete(arr, obj, axis=None)
np.delete(x, [0,1],0)

<class 'numpy.ndarray'>

array([[676952.0, Timestamp('2020-10-02 00:00:00'), 117.04, 55.3, 6.99,
        1.99],
       [681181.0, Timestamp('2020-11-25 00:00:00'), 320.2, 103.5, 6.99,
        nan],
       [685620.0, Timestamp('2020-12-26 00:00:00'), 205.99, 100.0, 6.99,
        1.99],
       [688270.0, Timestamp('2021-01-20 00:00:00'), 224.7, 109.4, 6.99,
        1.99],
       [692265.0, Timestamp('2021-02-17 00:00:00'), 205.99, 100.0, 6.99,
        1.99]], dtype=object)

In [50]:
# drop the nan rows and redefine the dataframe

df = df.drop([0,1])

In [51]:
df.head()

,invoice number,transaction date,cost,gal,Environmental Compliance Fee,cost per gal
2,676952.0,2020-10-02,117.04,55.3,6.99,1.99
3,681181.0,2020-11-25,320.20,103.5,6.99,NaN
4,685620.0,2020-12-26,205.99,100.0,6.99,1.99
5,688270.0,2021-01-20,224.70,109.4,6.99,1.99
6,692265.0,2021-02-17,205.99,100.0,6.99,1.99

In [62]:
print(type(df['transaction date']))
print()
df['transaction date']

<class 'pandas.core.series.Series'>

2   2020-10-02
3   2020-11-25
4   2020-12-26
5   2021-01-20
6   2021-02-17
Name: transaction date, dtype: datetime64[ns]

In [ ]:
# reset index

In [ ]:
# convert transaction date to timestamp

In [63]:
#  issue why is this not working ?

df.loc['gal']

KeyError: 'gal'